.wrapper {
  --itchio_font_family: Lato;
  --itchio_bg_color: #eeeeee;
  --itchio_bg2_color: rgba(255, 255, 255, 1);
  --itchio_bg2_sub: #e5e5e5;
  --itchio_text_color: #222222;
  --itchio_link_color: #fa5c5c;
  --itchio_border_color: #d8d8d8;
  --itchio_button_color: #fa5c5c;
  --itchio_button_fg_color: #ffffff;
  --itchio_button_shadow_color: #e54747;
  background-color: #eeeeee;
}

.inner_column {
  // width: 960px;
  // margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
  background: white;
  overflow: hidden;
  color: #222222;
  // font-family: Lato, Lato, LatoExtended, sans-serif;
  background-color: rgba(255, 255, 255, 1);
  &.size_large {
    font-size: 16px;
  }
}

.html_embed_widget {
  .button.load_iframe_btn,
  .button.restore_btn {
    height: auto;
    padding: 0.4em 0.8em;
    font-size: 120%;
    display: flex;
    align-items: center;
    .svgicon {
      margin-right: 5px;
    }
  }
  .iframe_placeholder,
  .restore_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
  }
}

.view_game_page {
  &.view_flash_game_page .embed_wrapper,
  &.view_html_game_page .embed_wrapper {
    margin: 20px 0;
  }
  .column {
    padding-bottom: 20px;
  }
  .video_embed {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .screenshot_list {
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    a {
      box-shadow: 0 0 1px rgb(0, 0, 0, 0.3);
      display: inline-flex;
      img {
        width: 100%;
      }
    }
  }
  .formatted_description {
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

.info_panel_wrapper {
  background: rgba(229, 229, 229, 1);
  padding: 10px;
  .time {
    display: flex;
    align-items: center;
  }
  a {
    color: #fa5c5c;
  }
  td:first-child {
    font-weight: bold;
    text-align: right;
    min-width: 100px;
    font-size: 90%;
    opacity: 0.7;
  }
  tbody tr td:last-child {
    flex-wrap: wrap;
    display: flex;
    gap: 0 4px;
  }
}
.toggle_row {
  margin-bottom: 10px;
}
.toggle_info_btn {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user_formatted {
  word-wrap: break-word;
}
.game_comments_widget {
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.row_title {
  font-family: inherit;
  font-weight: 900;
  color: inherit;
  margin: 1.6em 0 0.8em;
}
.columns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .left_col {
    flex: 1;
    width: 0;
    min-width: 0;
  }
  .right_col {
    width: 367px;
    padding-right: 20px;
  }
}

.iframe_wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  // Adapt to IOS
  &.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }

  .full_close {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  .full_open {
    width: 32px;
    height: 32px;
    border-radius: 3px 0 0 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
  }
}

.row {
  margin: 0 20px 20px 20px;
}
