.wrapper {
}

.inner_column {
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;
  background: var(--w3itch-bg2);
  &.size_large {
    font-size: 16px;
  }
}

.html_embed_widget {
  .iframe_placeholder,
  .restore_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
  }
}

.view_game_page {
  &.view_flash_game_page .embed_wrapper,
  &.view_html_game_page .embed_wrapper {
    margin: 20px 0;
  }
  .column {
    padding-bottom: 20px;
  }
  .video_embed {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .formatted_description {
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

.info_panel_wrapper {
  background: var(--w3itch-bg4);
  padding: 10px;
  .time {
    display: flex;
    align-items: center;
  }
  a {
    color: var(--w3itch-primary1);
  }
  td:first-child {
    font-weight: bold;
    text-align: right;
    min-width: 100px;
    font-size: 90%;
    opacity: 0.7;
  }
  tbody tr td:last-child {
    flex-wrap: wrap;
    display: flex;
    gap: 0 4px;
  }
}
.toggle_row {
  margin-bottom: 10px;
}
.toggle_info_btn {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user_formatted {
  word-wrap: break-word;
}
.game_comments_widget {
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.row_title {
  font-family: inherit;
  font-weight: 900;
  color: inherit;
  margin: 1.6em 0 0.8em;
}
.columns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .left_col {
    flex: 1;
    width: 0;
    min-width: 0;
  }
  .right_col {
    width: 367px;
    padding-right: 20px;
  }
}

.iframe_wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  // Adapt to IOS
  &.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }

  .full_close {
    width: 32px;
    height: 32px;
    background-color: var(--w3itch-bg2);
    border-radius: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  .full_open {
    width: 32px;
    height: 32px;
    border-radius: 3px 0 0 3px;
    background-color: var(--w3itch-bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
  }
}

.row {
  margin: 0 20px 20px 20px;
}
