.tabbed_header_widget {
  .header_breadcrumbs {
    background-color: var(--w3itch-bg1);
    padding: 10px var(--w3itch-gutter_width);
    font-size: 16px;
    color: var(--w3itch-text3);
    border-bottom: 1px solid;
    border-color: var(--w3itch-border1);
    border-radius: 3px 3px 0 0;
    .trail {
      color: var(--w3itch-text4);
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.stat_header_widget {
  border-bottom: 1px solid;
  border-color: var(--w3itch-border1);
  min-height: 80px;
  position: relative;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  gap: 20px;
  padding: 0 var(--w3itch-gutter_width, 40px);
  h2 {
    margin: 0;
    font-weight: 900;
    color: var(--w3itch-text2);
    font-size: 20px;
  }
}

.edit_game_page {
  .payment_warning {
    background: #fffdbd;
    border-bottom: 1px solid #dbd994;
    font-size: 14px;
    padding: 10px 40px;
    color: #59583b;
    strong {
      margin-right: 10px;
    }
    a {
      margin-left: 10px;
      color: var(--w3itch-primary1);
    }
    .input_row {
      margin-bottom: 25px;
    }
  }
  .form_loader {
    display: none;
    margin: 0 10px;
  }
  .content_guidelines {
    font-size: 14px;
    line-height: 1.5;
    border-left: 4px solid;
    border-color: #dadada;
    padding: 4px 15px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #767676;
    strong {
      color: #222;
    }
    a {
      color: var(--w3itch-primary1);
    }
  }
  p.sub {
    color: var(--w3itch-text4);
    margin: 5px 0;
    font-weight: normal;
  }
  .hint {
    font-style: italic;
    color: var(--w3itch-text4);
    margin-top: 15px;
    &:before {
      content: attr(data-label);
      background: #b3b3b3;
      color: white;
      font-style: normal;
      font-size: 12px;
      padding: 2px 4px;
      border-radius: 2px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;
      white-space: nowrap;
      font-weight: bold;
    }
  }
  .butler_tip {
    margin: 10px 0 20px 0;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    & > div {
      line-height: 1.5;
    }
    a {
      color: var(--w3itch-primary1);
    }
  }

  .game_edit_form {
    h2 {
      margin-top: 40px;
    }
  }

  .video_editor {
    margin-top: 20px;
  }

  .screenshot_editor {
    margin-top: 20px;
    .screenshot_list {
      margin: 10px 0;
      overflow: hidden;
      height: 0;
    }
  }
}

.page_widget {
  .padded {
    padding: 30px var(--w3itch-gutter_width);
  }
  h2 {
    margin-bottom: 20px;
  }
}

.columns {
  font-size: 0;
  .left_col {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    width: 542px;
    margin-right: 20px;
    @media screen and (max-width: 980px) {
      width: 100%;
      margin-right: 0;
    }
  }
  .right_col {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    max-width: 317px;
    margin-right: 20px;
    &:last-child,
    &.last {
      margin-right: 0;
    }
  }
}

.form {
  .buttons {
    margin-top: 20px;
    color: #858585;
    .button {
      margin-right: 10px;
    }
  }
  .input_row {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .label {
    color: var(--w3itch-text2);
    font-weight: bold;
  }
  .radio_label {
    color: #000;
  }
  .radio_sub {
    font-weight: normal;
    color: var(--w3itch-text4);
    font-size: 14px;
  }
  .tags_sub {
    font-weight: normal;
    color: var(--w3itch-text4);
    font-size: 14px;
    a {
      color: var(--w3itch-text2);
    }
  }
  .tags_description_sub {
    color: var(--w3itch-text4);
    margin: 5px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
  }
}

.loader {
  display: inline-block;
  background-image: url(/images/loader.gif);
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.game_edit_cover_uploader_widget {
  .upload_container {
    border: 1px dashed;
    border-color: #cdcdcd;
    width: 315px;
    height: 250px;
    position: relative;
    .file_tools {
      transition: opacity 0.2s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  p.sub.instructions {
    margin: 10px 0 0 0;
  }
}

.simulation_input {
  position: relative;
}
