# http://editorconfig.org
root = true

[!*.{diff,patch}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# [*.{js,jsx,ts,tsx}]
# quote_type = single
# spaces_around_operators = true

[*.{js,jsx,ts,tsx,css,scss,yaml}]
indent_size = 2
indent_style = space