.button {
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  background: #FF2449;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 #c3223e;
  background: var(--itchio_button_color, #FF2449);
  color: var(--itchio_button_fg_color, white);
  text-shadow: 0 1px 0 var(--itchio_button_shadow_color, #c3223e);
  cursor: pointer;
  border-radius: 3px;
  border: none;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 0 0 1px rgb(255 255 255 / 21%);
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  height: 35px;
}