.dashboard_page {
  .header_notification {
    padding: 15px 40px;
    font-size: 16px;
    background: #fff0f0;
    color: var(----w3itch-primary2);
    &.itchio_tip {
      display: flex;
      align-items: center;
      gap: 15px;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
    }
    a {
      color: var(--w3itch-primary1);
      display: flex;
      align-items: center;
    }
  }
  .blank_content {
    text-align: center;
    h3 {
      font-weight: normal;
      font-size: 22px;
      color: var(--w3itch-text4);
      margin-top: 0;
    }
    .sub_links {
      margin-top: 15px;
      font-size: 14px;
      a {
        color: var(--w3itch-text3);
      }
    }
  }
}
.page_widget {
  .padded {
    padding: 30px var(--w3itch-gutter_width, 40px);
  }
}

.stat_header_widget {
  border-bottom: 1px solid;
  border-color: var(--w3itch-border1);
  min-height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 var(--w3itch-gutter_width);
  .text_container {
    flex: 1;
    min-width: 0;
    h2 {
      margin: 0;
      font-weight: 900;
      color: var(--w3itch-text2);
      font-size: 20px;
    }
  }
  .stat_box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
    .stat_value {
      font-weight: bold;
      font-size: 22px;
      color: var(--w3itch-text2);
    }
    .stat_label {
      color: #606060;
      font-size: 12px;
    }
  }
}
.stats_container {
  display: flex;
  gap: 30px;
  a {
    text-decoration: none;
  }
}

.header_nav {
  background-color: var(--w3itch-bg1);
  border-bottom: 1px solid;
  border-color: var(--w3itch-border1);
  padding: 0 40px;
  position: relative;
  a {
    text-decoration: none;
  }
  .header_nav_tabs {
    display: flex;
  }
  .nav_btn {
    cursor: pointer;
    color: var(--w3itch-text4);
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 5px;
    &.active {
      cursor: default;
      font-weight: 900;
      color: var(--w3itch-text1);
      position: relative;
      box-shadow: inset 0 -4px 0 #ff2449;
      box-shadow: inset 0 -4px 0 var(--w3itch-primary1, #ff2449);
    }
  }
}

.header_notification {
}

.dashboard_columns {
  display: flex;
  gap: 20px;
  .left_col {
    flex: 1;
    min-width: 0;
  }
  .right_col {
    width: 430px;
    // display: none;
  }

  .social_nag {
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: #858585;
    a {
      color: var(--w3itch-primary2);
    }
  }
}

.game_list {
  .game_row {
    margin-bottom: 10px;
    padding: 1px;
    border: 1px solid;
    border-color: var(--w3itch-border1);
    display: flex;
    border-radius: 2px;
  }
  .cover_link {
    display: block;
    height: 83px;
    width: 105px;
    text-decoration: none;
    border-right: 1px solid;
    border-color: var(--w3itch-bg2);
  }
  .game_details {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
  }
  .game_title {
    padding: 0 10px;
    white-space: nowrap;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .game_link {
      display: block;
      color: var(--w3itch-text2);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .game_links {
    background-color: var(--w3itch-bg1);
    color: var(--w3itch-text3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 33px;
    a {
      color: var(--w3itch-text4);
    }
    .publish_status {
      // margin-left: auto;
      // margin-right: 0;
      // min-width: 90px;
      & > * {
        padding: 0 10px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }
    }
  }
  .tag_bubble {
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 0 6px;
    line-height: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: white !important;
    }
    &.green {
      background: #90ce59;
    }
    &.grey {
      background: rgba(0, 0, 0, 0.38);
    }
  }
}
