.main {
  .inner_column {
    *zoom: 1;
    background: white;
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
    border-radius: 3px;
    margin: 20px auto 20px auto;
  }
}
.inner_column {
  width: 960px;
  margin: 0 auto;
}