@font-face {
  font-family: 'icomoon';
  src: url('/icons/fonts/icomoon.eot');
  src: url('/icons/fonts/icomoon.ttf') format('truetype'),
    url('/icons/fonts/icomoon.woff') format('woff'),
    url('/icons/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brush:before {
  content: '\e900';
}

.icon-like:before {
  content: '\e611';
}

.icon-hand:before {
  content: '\e609';
}

.icon-playlist_add:before {
  content: '\e903';
}

.icon-cross:before {
  content: '\e617';
}

.icon-shuffle:before {
  content: '\e60e';
}

.icon-comment:before {
  content: '\e904';
}

.icon-file-zip:before {
  content: '\e901';
}

.icon-folder-open:before {
  content: '\e902';
}

.icon-triangle-right:before {
  content: '\e612';
}

.icon-triangle-down:before {
  content: '\e613';
}

.icon-play:before {
  content: '\e61c';
}

.icon-stopwatch:before {
  content: '\e61a';
}

.icon-neutral:before {
  content: '\e619';
}

.icon-sort-alpha-asc:before {
  content: '\e614';
}

.icon-menu:before {
  content: '\e615';
}

.icon-filter:before {
  content: '\e616';
}

.icon-copy:before {
  content: '\e618';
}

.icon-facebook:before {
  content: '\e60c';
}

.icon-twitter:before {
  content: '\e60d';
}

.icon-lifebuoy:before {
  content: '\e941';
}

.icon-fire:before {
  content: '\e9a9';
}

.icon-earth:before {
  content: '\e9ca';
}

.icon-steam:before {
  content: '\e600';
}

.icon-paypal:before {
  content: '\e607';
}

.icon-credit-card:before {
  content: '\e608';
}

.icon-pencil:before {
  content: '\e606';
}

.icon-plus:before {
  content: '\e001';
}

.icon-coin:before {
  content: '\e002';
}

.icon-heart:before {
  content: '\e003';
}

.icon-warning:before {
  content: '\e004';
}

.icon-checkmark:before {
  content: '\e005';
}

.icon-users:before {
  content: '\e006';
}

.icon-moon:before {
  content: '\e007';
}

.icon-download:before {
  content: '\e008';
}

.icon-arrow-right:before {
  content: '\e00b';
}

.icon-arrow-left:before {
  content: '\e00c';
}

.icon-star:before {
  content: '\e00d';
}

.icon-star2:before {
  content: '\e00e';
}

.icon-upload:before {
  content: '\e00f';
}

.icon-windows8:before {
  content: '\e010';
}

.icon-apple:before {
  content: '\e011';
}

.icon-tux:before {
  content: '\e012';
}

.icon-globe:before {
  content: '\e013';
}

.icon-mobile:before {
  content: '\e014';
}

.icon-cart:before {
  content: '\e000';
}

.icon-android:before {
  content: '\e601';
}

.icon-stats:before {
  content: '\e602';
}

.icon-tag:before {
  content: '\e603';
}

.icon-delete:before {
  content: '\e604';
}

.icon-link:before {
  content: '\e605';
}

.icon-heart-filled:before {
  content: '\e60a';
}

.icon-reddit:before {
  content: '\eac6';
}

.icon-dice:before {
  content: '\e915';
}

.icon-checkbox-checked:before {
  content: '\ea52';
}

.icon-checkbox-unchecked:before {
  content: '\ea53';
}

.icon-gamepad:before {
  content: '\e61b';
}

.icon-caret-up:before {
  content: '\e60f';
}

.icon-caret-down:before {
  content: '\e610';
}

.icon-bitcoin:before {
  content: '\e60b';
}

/* Algolia */
.custom-aa-ItemContentTitle {
  font-weight: bold;
}

.custom-aa-ItemContentTitle span {
  background-color: #cacfff;
  color: #5468ff;
}

.custom-aa-ItemLink {
  width: 100%;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.custom-aa-ItemContentDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-search-wrapper {
  --aa-search-input-height: 36px;
}
/* Algolia end */

/* disqus */
#admin-disqus {
  max-width: 800px;
  padding: 20px;
  background: var(--w3itch-bg2);
}

#disqus_thread {
  background: var(--w3itch-bg2);
}
/* disqus end */
